---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
ColumnLimit: 120
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: false
SpaceAfterTemplateKeyword: false
TabWidth: 4
UseTab: Never
